<!-- Product Offerings Section -->
<!-- Apply `group-grey` or `group-navy` to swap theme -->
<section class="section group-grey">
    <!-- Decorative diagonal lines in corner -->
    <div class="diagonal-lines"></div>

    <div class="container">
        <div class="row">
            <div class="col-12" data-aos="fade">
                <h2 class="section-title">Product Offerings</h2>
                <p class="section-subtitle">Alliant AirFinance believes its full-suite of product offerings, along with Alliant AirFinance’s certainty of execution, positions Alliant AirFinance as a preferred solutions provider for counterparties.</p>
            </div>
        </div>

        <div class="row g-4">
            <!-- 1. Bridge Financing -->
            <div class="col-12 col-sm-6 col-lg-4" data-aos="fade" data-aos-delay="100">
                <div class="card border-0 text-center h-100">
                    <div class="card-body">
                        <div class="icon-wrapper mx-auto mb-3">
                            <img src="img/ico/bridge.svg" alt="Bridge financing icon">
                        </div>
                        <h4 class="card-title text-uppercase">Bridge Financing</h4>
                    </div>
                </div>
            </div>

            <!-- 2. Structured Credit -->
            <div class="col-12 col-sm-6 col-lg-4" data-aos="fade" data-aos-delay="200">
                <div class="card border-0 text-center h-100">
                    <div class="card-body">
                        <div class="icon-wrapper mx-auto mb-3">
                            <img src="img/ico/structured.svg" alt="Structured credit icon">
                        </div>
                        <h4 class="card-title text-uppercase">Structured Credit</h4>
                    </div>
                </div>
            </div>

            <!-- 3. Portfolio Financing / Revolving Facilities -->
            <div class="col-12 col-sm-6 col-lg-4" data-aos="fade" data-aos-delay="300">
                <div class="card border-0 text-center h-100">
                    <div class="card-body">
                        <div class="icon-wrapper mx-auto mb-3">
                            <img src="img/ico/portfolio.svg" alt="Portfolio financing icon">
                        </div>
                        <h4 class="card-title text-uppercase">Portfolio Financing / Revolving Facilities</h4>
                    </div>
                </div>
            </div>

            <!-- 4. Pre-Delivery Payments -->
            <div class="col-12 col-sm-6 col-lg-4" data-aos="fade" data-aos-delay="100">
                <div class="card border-0 text-center h-100">
                    <div class="card-body">
                        <div class="icon-wrapper mx-auto mb-3">
                            <img src="img/ico/payments.svg" alt="Pre-delivery payments icon">
                        </div>
                        <h4 class="card-title text-uppercase">Pre-Delivery Payments</h4>
                    </div>
                </div>
            </div>

            <!-- 5. Hybrid Debt -->
            <div class="col-12 col-sm-6 col-lg-4" data-aos="fade" data-aos-delay="200">
                <div class="card border-0 text-center h-100">
                    <div class="card-body">
                        <div class="icon-wrapper mx-auto mb-3">
                            <img src="img/ico/hybrid-debt.svg" alt="Hybrid debt icon">
                        </div>
                        <h4 class="card-title text-uppercase">Hybrid Debt</h4>
                    </div>
                </div>
            </div>

            <!-- 6. Operating & Finance Leases -->
            <div class="col-12 col-sm-6 col-lg-4" data-aos="fade" data-aos-delay="300">
                <div class="card border-0 text-center h-100">
                    <div class="card-body">
                        <div class="icon-wrapper mx-auto mb-3">
                            <img src="img/ico/diamond.svg" alt="Operating and finance leases icon">
                        </div>
                        <h4 class="card-title text-uppercase">Operating &amp; Finance Leases</h4>
                    </div>
                </div>
            </div>

            <!-- 7. Aircraft -->
            <div class="col-12 col-sm-6 col-lg-4" data-aos="fade" data-aos-delay="100">
                <div class="card border-0 text-center h-100">
                    <div class="card-body">
                        <div class="icon-wrapper mx-auto mb-3">
                            <img src="img/ico/aircraft.svg" alt="Aircraft icon">
                        </div>
                        <h4 class="card-title text-uppercase">Aircraft</h4>
                    </div>
                </div>
            </div>

            <!-- 8. Engines -->
            <div class="col-12 col-sm-6 col-lg-4" data-aos="fade" data-aos-delay="200">
                <div class="card border-0 text-center h-100">
                    <div class="card-body">
                        <div class="icon-wrapper mx-auto mb-3">
                            <img src="img/ico/engines.svg" alt="Engines icon">
                        </div>
                        <h4 class="card-title text-uppercase">Engines</h4>
                    </div>
                </div>
            </div>

            <!-- 9. Frequent Flyer Programs -->
            <div class="col-12 col-sm-6 col-lg-4" data-aos="fade" data-aos-delay="300">
                <div class="card border-0 text-center h-100">
                    <div class="card-body">
                        <div class="icon-wrapper mx-auto mb-3">
                            <img src="img/ico/frequent-flyer.svg" alt="Frequent flyer programs icon">
                        </div>
                        <h4 class="card-title text-uppercase">Frequent Flyer Programs</h4>
                    </div>
                </div>
            </div>

            <!-- 10. Slots Gates & Routes -->
            <div class="col-12 col-sm-6 col-lg-4" data-aos="fade" data-aos-delay="100">
                <div class="card border-0 text-center h-100">
                    <div class="card-body">
                        <div class="icon-wrapper mx-auto mb-3">
                            <img src="img/ico/slots-gates.svg" alt="Slots, gates, and routes icon">
                        </div>
                        <h4 class="card-title text-uppercase">Slots Gates &amp; Routes</h4>
                    </div>
                </div>
            </div>

            <!-- 11. Ground Equipment -->
            <div class="col-12 col-sm-6 col-lg-4" data-aos="fade" data-aos-delay="200">
                <div class="card border-0 text-center h-100">
                    <div class="card-body">
                        <div class="icon-wrapper mx-auto mb-3">
                            <img src="img/ico/ground.svg" alt="Ground equipment icon">
                        </div>
                        <h4 class="card-title text-uppercase">Ground Equipment</h4>
                    </div>
                </div>
            </div>

            <!-- 12. Receivables -->
            <div class="col-12 col-sm-6 col-lg-4" data-aos="fade" data-aos-delay="300">
                <div class="card border-0 text-center h-100">
                    <div class="card-body">
                        <div class="icon-wrapper mx-auto mb-3">
                            <img src="img/ico/recievables.svg" alt="Receivables icon">
                        </div>
                        <h4 class="card-title text-uppercase">Receivables</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
