<!-- Product Offerings & Asset Types - Two Column Layout -->
<section class="offerings-assets-split-section">
    <div class="container-fluid" data-aos="fade">
        <div class="row g-0">
            <div class="col-lg-6 offerings-assets-split-section__column offerings-assets-split-section__column--products">
                <div class="offerings-assets-split-section__content">
                    <h2 class="offerings-assets-split-section__title">Product Offerings</h2>
                    <div class="offerings-assets-split-section__grid">
                        <div class="offering-compact-card">
                            <div class="offering-compact-card__icon">
                                <img src="img/icons/ico-offering-direct-financing.svg" alt="Airline Direct Financing">
                            </div>
                            <h3 class="offering-compact-card__title">Airline Direct Financing</h3>
                        </div>
                        <div class="offering-compact-card">
                            <div class="offering-compact-card__icon">
                                <img src="img/icons/ico-offering-structured-credit.svg" alt="Structured Credit (e.g, EETC)">
                            </div>
                            <h3 class="offering-compact-card__title">Structured Credit <br class="d-none d-lg-block">(e.g, EETC)</h3>
                        </div>
                        <div class="offering-compact-card">
                            <div class="offering-compact-card__icon">
                                <img src="img/icons/ico-offering-portfolio-financing.svg" alt="Portfolio Financing / Revolving Facilities">
                            </div>
                            <h3 class="offering-compact-card__title">Portfolio Financing / Revolving Facilities</h3>
                        </div>
                        <div class="offering-compact-card">
                            <div class="offering-compact-card__icon">
                                <img src="img/icons/ico-offering-pre-payments.svg" alt="Pre-Delivery Payments">
                            </div>
                            <h3 class="offering-compact-card__title">Pre-Delivery Payments</h3>
                        </div>
                        <div class="offering-compact-card">
                            <div class="offering-compact-card__icon">
                                <img src="img/icons/ico-offering-hybrid-debt.svg" alt="Hybrid Debt">
                            </div>
                            <h3 class="offering-compact-card__title">Hybrid Debt</h3>
                        </div>
                        <div class="offering-compact-card">
                            <div class="offering-compact-card__icon">
                                <img src="img/icons/ico-offerning-finance-leasing.svg" alt="Finance Leases">
                            </div>
                            <h3 class="offering-compact-card__title">Finance Leases</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 offerings-assets-split-section__column offerings-assets-split-section__column--assets">
                <div class="offerings-assets-split-section__content">
                    <h2 class="offerings-assets-split-section__title">Asset Types</h2>
                    <div class="offerings-assets-split-section__grid">
                        <div class="asset-compact-card">
                            <div class="asset-compact-card__icon">
                                <img src="img/icons/ico-asset-aircraft.svg" alt="Aircraft">
                            </div>
                            <h4 class="asset-compact-card__title">Aircraft</h4>
                        </div>
                        <div class="asset-compact-card">
                            <div class="asset-compact-card__icon">
                                <img src="img/icons/ico-asset-engines.svg" alt="Engines">
                            </div>
                            <h4 class="asset-compact-card__title">Engines</h4>
                        </div>
                        <div class="asset-compact-card">
                            <div class="asset-compact-card__icon">
                                <img src="img/icons/ico-asset-ground-equiptment.svg" alt="Ground Equipment">
                            </div>
                            <h4 class="asset-compact-card__title">Ground Equipment</h4>
                        </div>
                        <div class="asset-compact-card">
                            <div class="asset-compact-card__icon">
                                <img src="img/icons/ico-asset-spare-parts.svg" alt="Spare Parts">
                            </div>
                            <h4 class="asset-compact-card__title">Spare Parts</h4>
                        </div>
                        <div class="asset-compact-card">
                            <div class="asset-compact-card__icon">
                                <img src="img/icons/ico-asset-frequent-flyer.svg" alt="Frequent Flyer Programs">
                            </div>
                            <h4 class="asset-compact-card__title">Frequent Flyer Programs</h4>
                        </div>
                        <div class="asset-compact-card">
                            <div class="asset-compact-card__icon">
                                <img src="img/icons/ico-asset-slot-gates.svg" alt="Slots Gates &amp; Routes">
                            </div>
                            <h4 class="asset-compact-card__title">Slots Gates &amp; Routes</h4>
                        </div>
                        <div class="asset-compact-card">
                            <div class="asset-compact-card__icon">
                                <img src="img/icons/ico-asset-recievables.svg" alt="Receivables">
                            </div>
                            <h4 class="asset-compact-card__title">Receivables</h4>
                        </div>
                        <div class="asset-compact-card">
                            <div class="asset-compact-card__icon">
                                <img src="img/icons/ico-asset-flight-simulator.png" alt="Flight Simulators">
                            </div>
                            <h4 class="asset-compact-card__title">Flight Simulators</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
